<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
{{template "head" .}}
<body style="margin-left: 20px; margin-right: 20px;" class="nav">
    {{template "header" .}}
    <form action="lotd" method="post" enctype="application/x-www-form-urlencoded">
        <p data-i18n="msg.enter_decimal_value"></p>
        <input type="text" name="number" size="20" maxlength="18" value="{{.number}}"/>
        <span> + 1 = </span></span><span>{{.result}}</span>
        <br/><br/>
        <button id="btn" data-i18n="label.calculate"></button>
        <br/><br/>
        {{template "messages" .}}
    </form>
</body>
</html>